# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_TIME_ZONE=Asia/Kathmandu
FRONTEND_URL=http://localhost:5173

# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Email sender account
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=true
DJANGO_EMAIL_HOST_USER=np03cs4a230351@heraldcollege.edu.np
DJANGO_EMAIL_HOST_PASSWORD=xumn ouqp ejxf pbgo
DJANGO_DEFAULT_FROM_EMAIL=np03cs4a230351@heraldcollege.edu.np
